.header {
  display: flex;
  justify-content: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  background-color: var(--white);
  border-bottom: 5px solid var(--yellow);

  &__logo {
    display: block;
    width: 300px;
    height: 119px;
  }
}