.search {
  display: block;
  border-radius: var(--radius);
  max-width: 768px;
  margin: 50px auto 0 auto;
  padding: 15px;
  background: url(./icon.svg) no-repeat 97% center var(--white);
  background-size: 20px;

  input {
    display: block;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}